___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [142]:
sal=pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [10]:
sal.BasePay.mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [11]:
sal.OvertimePay.max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [19]:
sal[sal.EmployeeName=="JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [20]:
sal[sal.EmployeeName=="JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [31]:
sal.loc[sal["TotalPayBenefits"].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [33]:
sal[sal["TotalPayBenefits"]==sal["TotalPayBenefits"].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [52]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [57]:
sal["JobTitle"].nunique()

2159

** What are the top 5 most common jobs? **

In [64]:
sal["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [99]:
# first to filter the dataframe with records of 2013
sal[sal["Year"]==2013]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.00,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN
72926,72927,Joanne M Hayes-White,"Chief, Fire Department",313686.01,0.00,23236.00,85431.39,336922.01,422353.40,2013,NaN,San Francisco,NaN
72927,72928,Samson Lai,"Battalion Chief, Fire Suppress",186236.42,131217.63,29648.27,57064.95,347102.32,404167.27,2013,NaN,San Francisco,NaN
72928,72929,Ellen G Moffatt,Asst Med Examiner,272855.51,23727.91,38954.54,66198.92,335537.96,401736.88,2013,NaN,San Francisco,NaN
72929,72930,Robert L Shaw,"Dep Dir for Investments, Ret",315572.01,0.00,0.00,82849.66,315572.01,398421.67,2013,NaN,San Francisco,NaN
72930,72931,David L Franklin,Asst Chf of Dept (Fire Dept),215265.60,87985.24,30637.48,62890.36,333888.32,396778.68,2013,NaN,San Francisco,NaN
72931,72932,Harlan L Kelly-Jr,Executive Contract Employee,313312.52,0.00,0.00,82319.51,313312.52,395632.03,2013,NaN,San Francisco,NaN
72932,72933,John L Martin,Dept Head V,311758.96,0.00,1098.64,82476.85,312857.60,395334.45,2013,NaN,San Francisco,NaN
72933,72934,Edward D Reiskin,"Gen Mgr, Public Trnsp Dept",305307.89,0.00,0.00,80860.60,305307.89,386168.49,2013,NaN,San Francisco,NaN
72934,72935,Thomas A Siragusa,Asst Chf of Dept (Fire Dept),215265.60,88028.54,21526.49,61288.58,324820.63,386109.21,2013,NaN,San Francisco,NaN
72935,72936,Amy P Hart,Dept Head V,286480.44,0.00,17188.71,80077.63,303669.15,383746.78,2013,NaN,San Francisco,NaN
72936,72937,Yifang Qian,Senior Physician Specialist,203710.00,0.00,119176.84,58810.96,322886.84,381697.80,2013,NaN,San Francisco,NaN
72937,72938,Michael J Biel,Deputy Chief 3,278964.00,0.00,17587.86,77708.48,296551.86,374260.34,2013,NaN,San Francisco,NaN
72938,72939,Raymond A Guzman,Dep Chf of Dept (Fire Dept),270756.03,0.00,24181.02,77474.92,294937.05,372411.97,2013,NaN,San Francisco,NaN
72939,72940,Marty A Ross,"Battalion Chief, Fire Suppress",186236.43,88345.08,38035.09,58991.75,312616.60,371608.35,2013,NaN,San Francisco,NaN
72940,72941,Mark A Gonzales,Dep Chf of Dept (Fire Dept),270756.01,0.00,20236.50,77408.16,290992.51,368400.67,2013,NaN,San Francisco,NaN
72941,72942,Mark J Johnson,"Battalion Chief, Fire Suppress",186236.41,101466.96,23994.92,56134.30,311698.29,367832.59,2013,NaN,San Francisco,NaN
72942,72943,Bryan W Rubenstein,"Battalion Chief, Fire Suppress",186236.45,94450.92,30313.49,56508.46,311000.86,367509.32,2013,NaN,San Francisco,NaN
72943,72944,Gary L Altenberg,"Lieutenant, Fire Suppression",135903.02,163477.81,20994.96,46030.76,320375.79,366406.55,2013,NaN,San Francisco,NaN
72944,72945,John J Loftus,Deputy Chief 3,274126.50,0.00,13358.10,75909.10,287484.60,363393.70,2013,NaN,San Francisco,NaN
72945,72946,Edwin M Lee,Mayor,285446.37,0.00,0.00,77105.29,285446.37,362551.66,2013,NaN,San Francisco,NaN
72946,72947,Michael J Morris,Assistant Deputy Chief 2,124054.00,0.00,202322.37,35929.84,326376.37,362306.21,2013,NaN,San Francisco,NaN
72947,72948,David Shinn,Deputy Chief 3,278964.00,0.00,6428.79,76680.57,285392.79,362073.36,2013,NaN,San Francisco,NaN
72948,72949,Arthur W Kenney,Asst Chf of Dept (Fire Dept),213308.64,49139.25,36262.42,60756.95,298710.31,359467.26,2013,NaN,San Francisco,NaN
72949,72950,Lorrie A Kalos,"Battalion Chief, Fire Suppress",186236.49,87457.68,28003.53,57030.95,301697.70,358728.65,2013,NaN,San Francisco,NaN
72950,72951,Lyn Tomioka,Deputy Chief 3,278964.00,0.00,3536.35,76113.13,282500.35,358613.48,2013,NaN,San Francisco,NaN
72951,72952,Denise A Schmitt,Deputy Chief 3,278964.00,0.00,3536.39,75367.15,282500.39,357867.54,2013,NaN,San Francisco,NaN
72952,72953,Rudy J Castellanos,"Battalion Chief, Fire Suppress",186236.42,94274.25,19022.95,55351.53,299533.62,354885.15,2013,NaN,San Francisco,NaN
72953,72954,Susan Currin,"Adm, SFGH Medical Center",271831.50,0.00,5000.00,75511.72,276831.50,352343.22,2013,NaN,San Francisco,NaN
72954,72955,Thomas F Abbott,"Battalion Chief, Fire Suppress",186236.41,84382.38,23279.44,56184.01,293898.23,350082.24,2013,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110501,110502,Brett Rinehart,Recreation Leader,42.16,0.00,0.00,0.43,42.16,42.59,2013,NaN,San Francisco,NaN
110502,110503,Bertha Mendez,Custodian,41.95,0.00,0.00,0.42,41.95,42.37,2013,NaN,San Francisco,NaN
110503,110504,Fletcher F Brown,Recreation Leader,40.18,0.00,0.00,0.40,40.18,40.58,2013,NaN,San Francisco,NaN
110504,110505,Jonathan Chin,School Crossing Guard,38.50,0.00,0.00,0.39,38.50,38.89,2013,NaN,San Francisco,NaN
110505,110506,Jenny Huang,School Crossing Guard,38.50,0.00,0.00,0.39,38.50,38.89,2013,NaN,San Francisco,NaN
110506,110507,Christine M Ainza,Special Nurse,NaN,0.00,30.11,6.76,30.11,36.87,2013,NaN,San Francisco,NaN
110507,110508,Michael Monges,Recreation Leader,33.73,0.00,0.00,0.34,33.73,34.07,2013,NaN,San Francisco,NaN
110508,110509,Oscar D Gonzalez,Recreation Leader,33.73,0.00,0.00,0.00,33.73,33.73,2013,NaN,San Francisco,NaN
110509,110510,Elias Lanuza,Recreation Leader,32.88,0.00,0.00,0.33,32.88,33.21,2013,NaN,San Francisco,NaN
110510,110511,Veronica L Lee,Recreation Leader,29.23,0.00,2.94,0.00,32.17,32.17,2013,NaN,San Francisco,NaN
110511,110512,Mercedes Alvarez,School Crossing Guard,NaN,0.00,31.42,0.00,31.42,31.42,2013,NaN,San Francisco,NaN
110512,110513,William John Erkelens Jr,Special Assistant 14,26.34,0.00,0.00,0.26,26.34,26.60,2013,NaN,San Francisco,NaN
110513,110514,Daphne D La Zare,Special Nurse,18.81,0.00,3.76,3.90,22.57,26.47,2013,NaN,San Francisco,NaN
110514,110515,Michael A Denunzio,"BdComm Mbr, Grp2,M=$25/Mtg",25.00,0.00,0.00,0.25,25.00,25.25,2013,NaN,San Francisco,NaN
110515,110516,Rebecca J Prowda,"BdComm Mbr, Grp2,M=$25/Mtg",25.00,0.00,0.00,0.25,25.00,25.25,2013,NaN,San Francisco,NaN
110516,110517,Maria D Quinones,Senior Assessment Clerk,NaN,0.00,20.73,0.00,20.73,20.73,2013,NaN,San Francisco,NaN
110517,110518,Guillermo A Rodriguez,General Laborer,NaN,0.00,14.26,1.93,14.26,16.19,2013,NaN,San Francisco,NaN
110518,110519,Baltazar J Mata,Public Service Trainee,15.83,0.00,0.00,0.16,15.83,15.99,2013,NaN,San Francisco,NaN
110519,110520,Leol Aaron Amador,Public Service Trainee,15.83,0.00,0.00,0.16,15.83,15.99,2013,NaN,San Francisco,NaN
110520,110521,Carlos J Hernadez,Public Service Trainee,15.83,0.00,0.00,0.16,15.83,15.99,2013,NaN,San Francisco,NaN
110521,110522,Chinaenye E Nwachukwu,Environmental Service Worker,NaN,0.00,10.69,1.45,10.69,12.14,2013,NaN,San Francisco,NaN
110522,110523,Mengru Chen,Environmental Service Worker,NaN,0.00,10.69,1.45,10.69,12.14,2013,NaN,San Francisco,NaN
110523,110524,Mouy Him,Environmental Service Worker,NaN,0.00,10.69,1.45,10.69,12.14,2013,NaN,San Francisco,NaN
110524,110525,Roberto A Perez Lima,Environmental Service Worker,NaN,0.00,9.98,1.35,9.98,11.33,2013,NaN,San Francisco,NaN
110525,110526,Darius T Gardner,Environmental Service Worker,NaN,0.00,9.98,1.35,9.98,11.33,2013,NaN,San Francisco,NaN
110526,110527,Arthur L Curry,PS Aide Health Services,NaN,0.00,10.67,0.00,10.67,10.67,2013,NaN,San Francisco,NaN
110527,110528,Nereida Vega,Senior Clerk,NaN,0.00,5.56,0.00,5.56,5.56,2013,NaN,San Francisco,NaN
110528,110529,Timothy E Gibson,Police Officer 3,NaN,0.00,0.00,-2.73,0.00,-2.73,2013,NaN,San Francisco,NaN
110529,110530,Mark E Laherty,Police Officer 3,NaN,0.00,0.00,-8.20,0.00,-8.20,2013,NaN,San Francisco,NaN
110530,110531,David P Kucia,Police Officer 3,NaN,0.00,0.00,-33.89,0.00,-33.89,2013,NaN,San Francisco,NaN

In [100]:
#then count the jobtitles in 2013
sal[sal["Year"]==2013]["JobTitle"].value_counts()

Transit Operator                  2295
Special Nurse                     1445
Registered Nurse                  1231
Public Svc Aide-Public Works       859
Custodian                          789
Firefighter                        785
Police Officer 3                   774
Patient Care Assistant             676
Recreation Leader                  654
Deputy Sheriff                     653
Police Officer                     503
Public Service Trainee             439
Police Officer 2                   383
Attorney (Civil/Criminal)          371
Sergeant 3                         361
Porter                             360
Eligibility Worker                 355
General Laborer                    343
Gardener                           304
EMT/Paramedic/Firefighter          297
Senior Clerk                       288
Parking Control Officer            284
Library Page                       276
Senior Eligibility Worker          262
Senior Clerk Typist                251
Licensed Vocational Nurse          248
Clerk                              248
Stationary Engineer                233
Nurse Practitioner                 231
PS Aide to Prof                    218
                                  ...
Asphalt Plant Supervisor 1           1
Assessor                             1
Materials/Supplies Supervisor        1
Telecommunications Tech Supv         1
Sr Employee Asst Counselor           1
Director, Info Tech Group            1
Ex Asst to Ex Dir, Retirement        1
Principal Museum Preparator          1
Public Safety Comm Tech              1
Media Production Specialist          1
Municipal Stadium Groundskpr         1
Sheet Metal Wrk Supervisor 2         1
Training Technician                  1
Vet Laboratory Technologist          1
Operating Room Nurse                 1
Assistant Industrial Hygienist       1
Traf Signal Electrician Sup II       1
Airport Mechanical Maint Sprv        1
Emergency Services Coord I           1
Asst Chf, Bur Clm Invest&Admin       1
Emergency Medical Svcs Chief         1
Senior Data Entry Operator           1
IS Operator-Analyst                  1
Dep Dir for Investments, Ret         1
Statistician                         1
PrDAInvest,SpecUnit (SFERS)          1
Chf Victim/Witness Invstgtor         1
Chief Nursery Specialist             1
Window Cleaner Supervisor            1
Secretary, Library Commission        1
Name: JobTitle, Length: 1051, dtype: int64

In [101]:
# identify the job titles only have one occurance, return a boolen 
sal[sal["Year"]==2013]["JobTitle"].value_counts()==1

Transit Operator                  False
Special Nurse                     False
Registered Nurse                  False
Public Svc Aide-Public Works      False
Custodian                         False
Firefighter                       False
Police Officer 3                  False
Patient Care Assistant            False
Recreation Leader                 False
Deputy Sheriff                    False
Police Officer                    False
Public Service Trainee            False
Police Officer 2                  False
Attorney (Civil/Criminal)         False
Sergeant 3                        False
Porter                            False
Eligibility Worker                False
General Laborer                   False
Gardener                          False
EMT/Paramedic/Firefighter         False
Senior Clerk                      False
Parking Control Officer           False
Library Page                      False
Senior Eligibility Worker         False
Senior Clerk Typist               False
Licensed Vocational Nurse         False
Clerk                             False
Stationary Engineer               False
Nurse Practitioner                False
PS Aide to Prof                   False
                                  ...
Asphalt Plant Supervisor 1         True
Assessor                           True
Materials/Supplies Supervisor      True
Telecommunications Tech Supv       True
Sr Employee Asst Counselor         True
Director, Info Tech Group          True
Ex Asst to Ex Dir, Retirement      True
Principal Museum Preparator        True
Public Safety Comm Tech            True
Media Production Specialist        True
Municipal Stadium Groundskpr       True
Sheet Metal Wrk Supervisor 2       True
Training Technician                True
Vet Laboratory Technologist        True
Operating Room Nurse               True
Assistant Industrial Hygienist     True
Traf Signal Electrician Sup II     True
Airport Mechanical Maint Sprv      True
Emergency Services Coord I         True
Asst Chf, Bur Clm Invest&Admin     True
Emergency Medical Svcs Chief       True
Senior Data Entry Operator         True
IS Operator-Analyst                True
Dep Dir for Investments, Ret       True
Statistician                       True
PrDAInvest,SpecUnit (SFERS)        True
Chf Victim/Witness Invstgtor       True
Chief Nursery Specialist           True
Window Cleaner Supervisor          True
Secretary, Library Commission      True
Name: JobTitle, Length: 1051, dtype: bool

In [102]:
# use sum function to sum all true values from above step
sum(sal[sal["Year"]==2013]["JobTitle"].value_counts()==1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [143]:
sum(sal["JobTitle"].str.contains("Chief"))

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [146]:
sal["title_len"]=sal["JobTitle"].apply(len)

In [147]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,31
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,31
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,36
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,44
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN,25
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN,34
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN,30
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN,34
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN,38
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN,48
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN,31
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN,27
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN,17
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN,34
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN,34
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN,17
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN,37
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN,34
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN,26
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.00,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN,26
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN,26
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN,25
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN,34
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN,25
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN,15
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN,25
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN,34
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN,36
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148624,148625,Lorraine Rosenthal,Senior Clerk,0.00,0.00,12.89,0.00,12.89,12.89,2014,NaN,San Francisco,NaN,12
148625,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.00,7.24,2014,NaN,San Francisco,NaN,16
148626,148627,Paulet Gaines,Account Clerk,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,13
148627,148628,Brett A Lundberg,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,15
148628,148629,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,15
148629,148630,Elizabeth Iniguez,Transcriber Typist,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,18
148630,148631,Randy J Keys,Carpenter,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,9
148631,148632,Andre M Johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,27
148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,26
148633,148634,Edward Ferdinand,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,15
148634,148635,David M Turner,Transit Car Cleaner,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,19
148635,148636,James S Kibblewhite,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,15
148636,148637,Andrew J Enzi,Arborist Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,19
148637,148638,Kadeshra D Green,Transit Fare Inspector,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,22
148638,148639,Lennard B Hutchinson,Electrician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,11
148639,148640,Richard A Talbert,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,9
148640,148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,23
148641,148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,12
148642,148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,11
148643,148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,23
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,28
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,25
148646,148647,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,12
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,27
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,9
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN,9
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,12
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,12
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,12
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,NaN,26

In [151]:
sal[["title_len","TotalPayBenefits"]].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!